name: Run tests

on:
  push:
    branches:
      - 'master'
      - 'release-*'
    tags: '*'
  pull_request:

permissions:
  actions: write
  contents: read
  statuses: write

concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the master branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          - '1.10'
          - '1.11'
          - '1.12'
          - '1.13-nightly'
          - 'nightly'
        oscar-version:
          - 'stable'
          - 'devel'
          - '1.5'
        os:
          - ubuntu-latest
        #include:
        #  # Add a few windows and macOS jobs (not too many, the number we can run in parallel is limited)
        #  - julia-version: '1.10'
        #    os: macOS-latest
        #  - julia-version: '1.10'
        #    os: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # For Codecov, we must also fetch the parent of the HEAD commit to
          # be able to properly deal with PRs / merges
          fetch-depth: 2
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - name: "Install OSCAR dev version"
        if: ${{ matrix.oscar-version == 'devel' }}
        run: |
          julia --project=@. --color=yes --code-coverage -e '
            using Pkg
            Pkg.develop("Oscar")
            Pkg.pin("Oscar")'
      - name: "Install OSCAR 1.3"
        if: ${{ matrix.oscar-version == '1.3' }}
        run: |
          julia --project=@. --color=yes --code-coverage -e '
            using Pkg
            Pkg.add(name="Oscar", version="1.3")
            Pkg.pin("Oscar")'
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          depwarn: error
      - name: "Run doctests"
        if: ${{ matrix.julia-version == '1.10' }}
        run: |
          julia --project=docs --color=yes --code-coverage -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
            using Documenter
            using GenericCharacterTables
            DocMeta.setdocmeta!(GenericCharacterTables, :DocTestSetup, :(using GenericCharacterTables, Oscar); recursive=true)
            doctest(GenericCharacterTables)'
      - name: "Process code coverage"
        uses: julia-actions/julia-processcoverage@v1
      - name: "Upload coverage data to Codecov"
        continue-on-error: true
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.9'
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
